.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  p {
    color: rgb(0, 0, 0);
  }

  .button {
    width: 40%;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    text-decoration: none;
    /* max-width: 300px; */
    background-color: #f9f9f9;
    padding: 20px;
  }

  .button:hover {
    transform: scale(1);
    background-color: rgb(151, 235, 151);
  }

  h5 {
    margin: 8px ;
    color: rgb(255, 255, 255);
  }

  a {
    display: block;
    color: white;
  }

  .button:hover h5,
  .button:hover a {
    color: white;
  }

  .button button {
    display: inline-block;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: auto;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .button button:hover {
    background-color: #45a049;
    cursor: pointer;
  }

  .news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .news {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
  }

  .news h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .news p {
    font-size: 16px;
    color: #333;
  }

  .read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.9s ease;
  }

  .read-more:hover {
    background-color: #23527c;
  }

  @media screen and (max-width: 768px) {
    .news {
      padding: 10px;
    }

    .news h3 {
      font-size: 20px;
    }

    .news p {
      font-size: 14px;
    }
  }

  /* Media queries */
  @media (max-width: 768px) {
    .button-container {
      flex-direction: column;
      align-items: center;
    }

    .button {
      width: 100%;
      max-width: none;
    }
  }